
:host{
    width: 60%;
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;    
}
.filterSection{
    background-color: #ECF0F1;
    border-radius: 0px;
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.doneCheckbox{    
    margin: 0px 5px 0px 1px;
    width: 34px;
    height: 34px;
    &:hover{
        cursor: pointer;
    }
}
.searchBar{
    font-size: 20px;
    background-color:#ECF0F1;
    margin-left: 5px;
    width: 50%;
    height: 30px;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    border-bottom: 1px solid #34495E;
    &:focus{
        border: 0px;
        border-bottom: 3px solid #253544;
        outline: none;
    }
}
.notFound{
    color:#253544;
}

.todoContainer{
    width: 70%;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todoItem{
    width: 40%;
    margin: 10px;
    background-color: grey;
    color: white;
}
.utilityContainer{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addButton{
    border-radius: 3px;
    border: 1px solid transparent;    
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 2px;
    &:hover{
        background-color: green;
        cursor: pointer;
        color: white;
    }
}
.removeButton{
    color: red;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 2px;
    &:hover{
        background-color: red;
        cursor: pointer;
        color: white;
    }
}
.addTodoButton{
    border-radius: 3px;
    border: 1px solid transparent;
    margin-top: 10px;
    width: 50px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 2px;
    &:hover:enabled{
        background-color: green;
        cursor: pointer;
        color: white;
    }
}
.formContainer{
    height: 50px;
    background-color: #dee1e4;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formControl{
    background-color: #dee1e4;;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid #b9b9b9;
    border-radius: 0px;
    &:focus{
        outline: none;
        border: 0px;
        border-bottom: 1px solid #253544;
        outline: none;
    }
}